.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.butao{
    background-color: #40e0d0;
    color: #000000;
    border-color: #40e0d0;
    width: 7rem;
    height: 2rem;
    border-radius: 0.8rem;
    border-style: none;
    font-weight: bold;
}
.bundao{
    background-color: #696969;
    color: #fff;
    border-color: #696969;
    width: 4rem;
    height: 2rem;
    border-radius: 0.8rem;
    border-style: none;
    font-weight: bold;
}
.lados{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

